/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

/* Variables */
:root {
    --shadow-gray: #272838;
    --vintage-grape: #5D536B;
    --vintage-lavender: #7D6B91;
    --lavender-gray: #989FCE;
    --baltic-blue: #0f4476;
    --font-science:"Science Gothic",
        sans-serif;
    --font-montserrat: "Montserrat",
        sans-serif;
}

* {
    font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-science);
}

body {
    background-color: var(--baltic-blue);
}

/* Header and Naigation */
header {
    background-color: var(--vintage-grape);
    place-content: center;
    text-align: center;
}

header div a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

header div {
    margin: 0.5rem;
}

header img {
    background-color: var(--lavender-gray);
    padding: 0.25rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--shadow-gray);
}

header nav a {
    padding: 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;

}

header nav a:hover {
    background-color: var(--baltic-blue);
    color: white;
    padding: 1rem;
}

#selected {
    background-color: white;
    color: var(--baltic-blue)
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 300px auto 300px;
    background-color: var(--shadow-gray);
    border-top: solid var(--vintage-grape) 16px;
    padding:1rem;
    color: white;

    & a {
        text-decoration: none;
        color: white;
    }
}
#footer-logo{
    text-align: right;
    padding-right: 1rem;
}


/* HERO CONTAINER, IMAGE, and TEXT */
.hero-container {
    position: relative;
    max-width: 100%;
}

.hero-welcome {
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: white;
    text-align: right;

    & p {
        font-size: 1.5rem;
    }

    & h1 {
        font-size: 2.5rem;
        font-family: var(--font-science);
    }
}

.hero-image {
    width: 100%;
}

/* HTML STANDARD BODY */

.standard-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    border: solid var(--shadow-gray) 1px;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    color: white;
    text-align: center;

    & p {
        font-size: 1.2rem;
        line-height: 3rem;
        font-style: italic;
    }
}

/* EXPLORE PAGE */

.explore-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem;
    color: white;
}

.location-container section {
    grid-column: 1/2;
}

.learnMoreButton {
    grid-column: 2/3;
    padding: 1.6rem;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    place-content: center;
    font-size: 1.8rem;
    font-family: var(--font-science);
}



@media screen and (max-width: 700px) {
    .hero-welcome {
            position: absolute;
            right: 10%;
            bottom: 10%;
            color: white;
            text-align: right;
    
            & p {
                font-size: 1rem;
            }
    
            & h1 {
                font-size: 1.5rem;
                font-family: var(--font-science);
            }
        }

}
